[2019-12-29 02:54] aminueza opened #1 "[WIP] Add resource to manage users"
- CRUD for user;
- Add outputs

[2019-12-29 02:55] aminueza opened #2 "Add resource to manage groups"
- CRUD for groups;
- Add outputs.

[2019-12-29 02:55] aminueza opened #3 "Add resource to manage policies"
- CRUD for policies;
- Add outputs.

[2019-12-29 02:55] aminueza opened #4 "Add resource to manage buckets"
- CRUD for buckets actions;
- Add outputs.

[2019-12-29 04:11] aminueza commented on #1
Feature added to master

[2019-12-29 04:11] #1 closed

[2020-01-11 14:06] felladrin commented on #2
- Name the file as `./minio/resource_minio_group.go`
- Use `./minio/resource_minio_iam.go` as example
- Reference: <https://www.terraform.io/docs/providers/aws/r/iam_group.html>

[2020-01-13 20:25] aminueza opened #5 "Add GitHub CI/CD"
add GitHub ci/cd to build and test minio-provider

[2020-01-16 22:03] aminueza commented on #5
feature done in #6

[2020-01-16 22:03] #5 closed

[2020-01-16 22:15] aminueza opened #7 "Fix user permissions"
There is an error in `resource_minio_iam.go` regarding policy error.

backtrace:
[code]

[2020-01-19 19:00] aminueza commented on #7
Problem solved in #9 .

[2020-01-19 19:00] #7 closed

[2020-01-19 19:08] aminueza opened #10 "Add new terraform examples"
Create files example in `examples` path:
* Include input and output examples;
* create a new folder to split buckets, users, groups and policies examples;
[code]

[2020-01-19 21:32] #2 closed

[2020-01-19 22:04] aminueza commented on #4
Done in #12

[2020-01-19 22:04] #4 closed

[2020-01-20 22:07] #3 closed

[2020-01-22 00:15] aminueza opened #15 "Add new resource minio_iam_policy_document"
* add in provider.go: `minio_iam_policy_document`
* check [terraform example](https://www.terraform.io/docs/providers/aws/d/iam_policy_document.html)
* check [go code](https://github.com/terraform-providers/terraform-provider-aws/blob/98b8b848ca94031b20c3e626c9d40484e3af80de/aws/data_source_aws_iam_policy_document.go)

[2020-01-22 00:20] aminueza opened #16 "Add new resource minio_iam_group_membership"
* add in provider.go: `minio_iam_group_membership`
* check [terraform example](https://www.terraform.io/docs/providers/aws/r/iam_group_membership.html)
* check [go code](https://github.com/terraform-providers/terraform-provider-aws/blob/98b8b848ca94031b20c3e626c9d40484e3af80de/aws/resource_aws_iam_group_membership.go)

[2020-01-22 00:22] aminueza commented on #10
done in #14

[2020-01-22 00:23] #10 closed

[2020-01-22 00:56] dependabot-preview[bot] opened #17 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/aminueza/update-logs/21136615).

[2020-01-22 01:04] #17 closed

[2020-01-22 01:04] dependabot-preview[bot] opened #18 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/minio/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/aminueza).

[View the update logs](https://app.dependabo

[2020-01-26 21:46] #16 closed

[2020-01-26 21:53] aminueza opened #21 "Add resource minio_iam_group_policy"
* add in provider.go: minio_iam_group_policy
* check [terraform example](https://www.terraform.io/docs/providers/aws/r/iam_group_policy.html)
* check [go code](https://github.com/terraform-providers/terraform-provider-aws/blob/c78cbcf65b2b7c23f5e3fe9d004a08a553297bc1/aws/resource_aws_iam_group_policy.go)

[2020-01-26 21:56] aminueza opened #22 "Add resource minio_iam_group_policy_attachment"
add in provider.go: `minio_iam_group_policy_attachment`
check [terraform example](https://www.terraform.io/docs/providers/aws/r/iam_group_policy_attachment.html)
check [go code](https://github.com/terraform-providers/terraform-provider-aws/blob/c78cbcf65b2b7c23f5e3fe9d004a08a553297bc1/aws/resource_aws_iam_group_policy_attachment.go)

[2020-01-27 03:57] dependabot-preview[bot] opened #23 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/aminueza/update-logs/21552048).

[2020-01-27 20:11] #23 closed

[2020-01-27 21:46] #22 closed

[2020-01-28 18:56] #21 closed

[2020-02-01 22:07] #15 closed

[2020-03-01 23:16] aminueza opened #53 "Add new resource minio_iam_user_group_membership"
Add a new resource to attach a user to multiple groups. [There is a similar resource created to attach multiple users to one group](https://github.com/aminueza/terraform-provider-minio/blob/master/minio/resource_minio_iam_group_membership.go).

Some rules to follow:

- add a new tag in provider.go:  `minio_iam_user_group_membership`;

- add an object in payload.go file:

[code]

- create a fun in

[2020-03-04 21:10] aminueza opened #54 "Add new resource minio_s3_object"
Add a new resource to manage buckets objects.

Some rules to follow:

* add a new tag in provider.go: `minio_s3_object`;

* add an object in payload.go file named as
`type S3MinioObject struct`

* create a func in check_config.go to fill up the object structure:
`func S3ObjectConfig`

* check [terraform example](https://www.terraform.io/docs/providers/aws/r/s3_bucket_object.html);

* check go code

[2020-03-04 21:28] aminueza opened #55 "Add resource minio_s3_bucket_notification"
Add a new resource to manage buckets notifications.

Some rules to follow:

* add a new tag in provider.go: `minio_s3_bucket_notification`;

* add an object in payload.go file named as
`type S3MinioNotification struct`

* create a func in check_config.go to fill up the object structure:
`func S3NotificationConfig`

* check [terraform example](hhttps://www.terraform.io/docs/providers/aws/r/s3_bucke

[2020-03-04 21:34] aminueza opened #56 "Add resource minio_s3_bucket_policy"
Add a new resource to manage buckets policies.

Some rules to follow:

* add a new tag in provider.go: `minio_s3_bucket_policy`;

* add an object in payload.go file named as
`type S3MinioPolicy struct`

* create a func in check_config.go to fill up the object structure:
`func S3PolicyConfig`

* check [terraform example](https://www.terraform.io/docs/providers/aws/r/s3_bucket_notification.html);

*

[2020-03-04 21:38] aminueza opened #57 "Add resource minio_s3_bucket_file"
Add a new resource to manage buckets file objects.

Some rules to follow:

* add a new tag in provider.go: `minio_s3_bucket_file`;

* add an object in payload.go file named as
`type S3MinioFile struct`

* create a func in check_config.go to fill up the object structure:
`func S3FileConfig`

* add a test file naming as `minio_s3_bucket_file_test.go`;

* update the documentation creating a new `S3_B

[2020-03-04 23:05] binlab opened #58 "Add support full URL and https schema for minio_server"
Thanks for the provider and your work!
Found some problem with the connection to `minio` via `https` schema

[code]

and output:

[code]

Can you look at this? Thanks!

[2020-03-05 09:47] aminueza commented on #58
Hi @binlab,

Thank you for letting us know. I need to update the documentation for ssl enabled.
To run minio under https you have to set up  `minio_ssl = "true"` in `main.tf` and remove the `https://` from `minio_server` url. The new configuration should be like:

[code]
Please, could you test it? If you are gonna been through same issue, please let me know.

[2020-03-06 09:17] binlab commented on #58
Awesome, it works! Thanks, @aminueza!
And I would ask you please little improvements regarding TLS for a future if it is possible. Can you add parameters to configure CA certificates `ca_cert_file` (for self-signed certificates) and client - certificates, and key `cert_file`, `key_file` (for certificate-based authorization)? How it implemented in many Terraform providers for example in a Vault - h

[2020-03-06 10:06] aminueza opened #59 "Add suport to CA certificates"
Improve TLS support as described in #58 :

Awesome, it works! Thanks, @aminueza!
And I would ask you please little improvements regarding TLS for a future if it is possible. Can you add parameters to configure CA certificates `ca_cert_file` (for self-signed certificates) and client - certificates, and key `cert_file`, `key_file` (for certificate-based authorization)? How it implemented in many Ter

[2020-03-06 10:09] aminueza commented on #58
I'm gonna open an issue @binlab.
Thank you for a great feedback. Please, if you find any great feature to add, please, let me know.
For now, I'll close this issue.

[2020-03-06 10:09] #58 closed

[2020-04-12 07:52] thomasfinstad opened #62 "minio_iam_user Failed to parse server response"
When trying to create an user in minio it seems the response is not what the provider expects. I could not see anything useful in the trace output, but will be happy to give what ever info will help on request.

Tested MinIO (docker hub) versions:
- minio/minio:RELEASE.2020-02-27T00-23-05Z
- minio/minio:RELEASE.2020-03-25T07-03-04Z

terraform version:
[code]

minio.auto.tfvars:
[code]

variables.t

[2020-04-13 06:09] aminueza commented on #62
Hi @thomasfinstad,

Thank you for your issue. Could you try run terraform in debug mode and past the output here?

[code]

I have some ideas what might be the root cause but I need to make sure instead.

[2020-04-24 10:42] XenonPK commented on #62
Hello,
I have recently stumbled into this as well.
It seems to be related strictly to IAM resources. I was able to create/delete a bucket without issues, however, failed creating a user & policy.

Here's the log with TF_LOG=TRACE, since the DEBUG output was not very useful:
[tf_minio.log](https://github.com/aminueza/terraform-provider-minio/files/4528348/tf_minio.log)

[2020-04-25 17:00] thomasfinstad commented on #62
So sorry for the delay I have been super busy, here is a debug.log of a run where the resource for a minio_iam_user is being created.
[debug.log](https://github.com/aminueza/terraform-provider-minio/files/4533558/debug.log)

[2020-04-27 17:47] aminueza commented on #62
Thank you @thomasfinstad for the feedback. I'll take a look at this and make the fixes

[2020-05-26 19:46] tv42 opened #63 "Confused identity in go.mod"
The github repo is github.com/aminueza/terraform-provider-minio
but go.mod says github.com/aminueza/terraform-minio-provider
(https://github.com/aminueza/terraform-provider-minio/blob/bae53816aa04272a835963a9e57ca6e7d94d64d0/go.mod#L1)

It seems like go.mod should be updated to match the github repo and what terraform expects of plugin naming.

[2020-05-26 22:03] tv42 opened #64 "minio_iam_policy fails to update in place"
I changed the policy, but minio_iam_policy fails to update it. Every `terraform plan` run shows the same in-place update to be performed, regardless of apply. Using `terraform taint minio_iam_policy.foo` to force a destroy+create made the changes take effect.

[2020-05-28 21:12] derekmpage opened #65 "Changing a bucket attribure causes the bucket to be DELETED and re-CREATED"
I am not sure if this is a limitation of terraform or an issue with the provider.

Changing an attribute of a `minio_s3_bucket` resource causes the bucket to be removed and recreated.

My Output from $ terraform Apply
[code]

main.tf
[code]

[2020-07-30 04:46] insertjokehere commented on #62
I am also running into this issue. I can create buckets, but making users or IAM policies causes a "Failed to parse server response" error. I am able to manually make a user and the policy using the `mc` tool

Is there anything I can provide to help track this down?

[2020-08-12 22:09] amsgeodis opened #66 "Register as third-party provider for terraform 0.13"
Please register this provider in https://registry.terraform.io/browse/providers

[2020-08-13 05:48] aminueza commented on #65
Hi @derekmpage, thank you for your feedback. I'm adding the issue to backlog and I'll let you know the update.

[2020-08-13 05:49] aminueza commented on #64
Hi @tv42, thank you for letting me know about the issue. I'll be fixing all the issues this week.

[2020-08-13 05:50] aminueza commented on #63
Hi @tv42, it's a typo because I've changed the repository name, thank you for your feedback.

[2020-08-13 05:53] aminueza commented on #62
Hi everyone, sorry for a long delay, tough times and the provider is out to date. I need to take a look at minio changes because I've seen they have changed the minio api and go packages. This issue is my high priority fix for this week.

[2020-08-13 06:04] aminueza commented on #66
Hi @amsgeodis, thank you for reaching out. I'll be updating and fixing all issues to release a new version with required rules described on the terraform provider documentation.

[2020-08-14 06:57] rosscdh opened #67 "[bug] newer server and client"
Hi there! Thanks for the great implementation!

Small problem using it tho and I suspect to do with the client. afaik am running close to the latest version of minio:?

[code]

[code]

[2020-08-17 06:26] aminueza commented on #67
Hi @rosscdh, thank you for your feedback. This issue is about an old madmin version. We are supporting only V2, but I'm adding a new release for V3 this week

[2020-08-17 08:25] rosscdh commented on #67
Thanks for your efforts and great work!

[2020-08-18 05:22] aminueza commented on #63
Issue fixed and merged to master

[2020-08-18 05:22] #63 closed

[2020-08-20 10:14] james64 opened #69 "How to import resource"
How can I find out an id which should be used to import minio user resource into state? `mcli admin user info <target> <username>` shows no useful output.

Thanks!

[2020-08-28 14:18] hongkongkiwi commented on #66
Hi there, I'm keen on this as well because it keeps my repo much smaller..... now I need to bundle the binary of the plugin :(

Any ETA on this?

[2020-09-01 12:46] hongkongkiwi commented on #57
This would be great! I'm particularly interested in this.

[2020-10-08 08:07] appusidharth commented on #66
+1 on this.

[2020-10-13 14:12] lucasrothamel commented on #66
+1 on this!

[2020-10-13 14:14] lucasrothamel commented on #62
Any updates on this?
I hoped to use terraform to completely configure Minio, but at this moment it appears impossible?

[2020-12-01 19:38] #54 closed

[2020-12-02 15:59] phlegx opened #77 "Versioning Support"
Hi there,

Minio is capable of enable versioning onto buckets: https://github.com/minio/minio/releases/tag/RELEASE.2020-07-11T06-07-16Z

Could we enable this with Minio Terraform provider as well?
The `aws` provider solves it like this:

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/s3_bucket

thanks!

[2020-12-23 22:39] Nothing4You opened #87 "Bucket ACL does not have a default"
According to https://github.com/aminueza/terraform-provider-minio/blob/master/docs/S3_BUCKET.md the bucket ACL `Defaults to "private".`, however, when not specifying a bucket ACL the following error is thrown:

[code]

[2021-01-07 17:58] Nothing4You opened #89 "Importing a bucket does not import ACL, forces bucket replacement"
`terraform version`
[code]

`cat main.tf`
[code]

`terraform plan`
[code]

`terraform import minio_s3_bucket.foo foo`
[code]

`terraform plan`
[code]

[2021-01-07 18:26] Nothing4You opened #90 "Importing a user does not work"
`terraform version`
[code]
`cat main.tf`
[code]
`terraform import minio_iam_user.foo foo`
`GET /minio/admin/v2/user-info?accessKey= HTTP/2.0`
[code]
<details>
<summary>trace log</summary>

[code]
</details>

`mc admin user info 2 foo --json`
`GET /minio/admin/v3/user-info?accessKey=foo HTTP/1.1`
[code]

It looks like for some reason this provider is not passing the username to minio, the `accessKe

[2021-01-07 18:51] Nothing4You commented on #90
Also just tested this on the latest commit on master (gb8557a4) and the result is the same, except that it's now using minio api v3:
`GET /minio/admin/v3/user-info?accessKey= HTTP/1.1`

[2021-01-08 12:29] trygvis commented on #66
Having an official version would be great, there are now three alternate uploads of v1.1.0/v1.1.1:

https://registry.terraform.io/search/providers?q=minio

It seems that #88 has most of the stuff required for publishing the binaries as a provider.

[2021-01-10 19:20] #90 closed

[2021-01-10 20:35] #87 closed

[2021-01-10 20:40] #62 closed

[2021-01-10 22:04] aminueza commented on #66
Hello everyone, I've just published the release on terraform registry https://registry.terraform.io/providers/aminueza/minio/latest with all new changes.
Thank you to everyone who has contributed to these new changes.
I plan to add new features these two months, such as bucket version and TLS support, plus bug fixes. I'll make a big effort to be more active here.

[2021-01-10 22:05] #66 closed

[2021-01-12 11:32] aminueza commented on #89
Hi @Nothing4You , thank you for letting us know. As I'm working on s3_buckets version, I can take a look at this issue at same time.

[2021-01-12 11:38] aminueza opened #94 "Update documentation to follow terraform template"
Change the documentation such as: https://www.terraform.io/docs/registry/providers/docs.html
Add the link to minio terraform community https://registry.terraform.io/providers/aminueza/minio/latest to README file

[2021-01-26 18:07] ntdt opened #95 "Error FATAL Unable to check bucket"
Thanks  for your works on this provider.
I have a bug with the new version of this provider, please find the details below:

- Server side: minio version 2020-12-03T05:49:24Z deployed with helm chart minio 8.0.9
- terraform provider version 1.2.0
- terraform version 0.14.5
- Code
[code]

and the output of  `terraform apply`

[code]

[2021-01-27 07:44] aminueza commented on #95
Hi @ntdt , thank you for letting me know. I'll be checking it out and providing a fix asap.

[2021-02-07 20:43] yogsoft opened #96 "Cannot set custom secret to minio_iam_user"
`minio_iam_user` secret is automatically generated. I want to keep same secret for Minio user between `terraform apply` -> `terraform destroy` -> `terraform apply` again.

Currently it is not possible due to `Computed` secret for the user. There should be a way to set custom secret to `minio_iam_user`. If custom secret not specified, then `Computed` secret should be generated for the user.

[2021-02-15 10:04] emze9 opened #97 "minio_s3_bucket_lifecycle"
Hi,
maybe i'm wrong but i did'nt found any way to manage bucket's lifecycle. I think it will be a good improvement because today, i'm forced to couple your provider with aws to handle the lifecycle.

thank you in advance !

[2021-02-26 22:46] ntdt commented on #95
You can close this ticket, I switched to a newer version of the minio helm chart and it works correctly now.

[2021-02-26 22:46] #95 closed

[2021-03-02 18:08] amsgeodis commented on #96
@aminueza We can get this implemented if that doesn't violate any of the design principles. We are also looking for this feature @yogsoft suggested. Please let us know.

[2021-03-02 21:07] qubusp opened #98 "Create resource for bucket notification"
Create resource for bucket notification - that would be helpfull for some serverless deployments

[2021-03-10 14:06] lathspell opened #99 "Errors messages do not include full message from server."
I tried creating a used and just got:

    Error: Failed to parse server response: invalid character 'P' looking for beginning of value.

This is not very helpful, it would be better if the complete response or at least the first e.g. 80 chars would be printed.
Maybe I used the wrong URL or my authentication was wrong (doesn't matter here, the issue is not abount my config mistake just about the e

[2021-03-11 11:17] timo-reymann commented on #64
@aminueza Is there any update on this?

[2021-03-11 17:00] janicels opened #100 "Cannot create a S3 bucket using temporary credentials."
Hi,
   I get the following error message when I attempt to create a S3 bucket using the terraform-provider-minio with temporary credentials (only able to set access key and secret key):
     " ...
      minio_s3_bucket.bucket: Creating...

      Error: [FATAL] Unable to check bucket (<bucketName>): The AWS Access Key Id you provided does not exist in our records."

   Using the MinIO command-line

[2021-03-13 16:25] Nothing4You opened #101 "Creating a new bucket with invalid ACL results in a broken state"
Hi,

let's say I tried to create a bucket like this:
[code]
As I took the acl name from minio docs and not from this provider docs the creation fails, I should have used `public-read` instead.

The result looks like this:
<details>
<summary>terraform apply</summary>

[code]
</details>

At this stage I'm expecting no bucket to be created as the creation task failed.
If in the background first the b

[2021-03-17 07:51] toabi commented on #99
Indeed it would make debugging much easier. My example:

[code]

[2021-03-18 11:29] toabi commented on #58
Documentation is still missing the `minio_ssl` option which fixes actual issues using this.

Because without the ssl option and an automatically redirecting ingress, it works *sometimes* (for bucket operations) but not for user/policy operations.

[2021-03-18 18:04] gmile commented on #57
Wasn't this done recently in a form of managing the object in https://github.com/aminueza/terraform-provider-minio/pull/72?

[2021-03-18 18:10] gmile opened #102 "Setting object ACL on object creation"
Presently there's no way to specify ACL when uploading objects, see list of [available resource fields](https://github.com/aminueza/terraform-provider-minio/blob/b2774a13b3fa7297fc62d3fa86383a0429dad0ed/minio/resource_minio_s3_object.go#L25-L62). Having the ability would be quit useful.

[2021-03-30 17:14] sspown opened #104 "Error: [FATAL] Unable to check bucket"
Hi.
Thanks for your works.
have a bag.
details:
- minio version RELEASE.2021-03-26T00-00-41Z
- provider registry.terraform.io/aminueza/minio v1.2.0
- Terraform v0.14.9 and try Terraform v0.13.6

Code:
[code]
output:

[code]

[2021-03-31 16:21] zekker6 commented on #104
Facing same issue here.
Debug output from minio:
[code]
Local `mc` command:
[code]

Seems like provider is doing request with `s3.ListObjectsV1` and fails. But Minio's `mc` is falling back to `s3.ListObjectsV2` and then succeeds.

[2021-03-31 19:24] zekker6 commented on #104
My setup is using TLS as well, it is:
[code]

Tried using provider with docker-compose files provided in repo, all tests passing there. Seems to me like an issue with some kind of token validation issue caused by multiple proxy levels.

[2021-04-03 15:22] sspown commented on #104
strange things... provider does not work with minio on https (with certificates), but after disabling TLS - all fine ) checked on CentOS 7 and Debian 10 with last minio, terraform-provider-minio and terraform versions.

[2021-04-03 15:52] Nothing4You commented on #104
On the (HTTP) default ports it works just fine over HTTPS, i'm only setting the hostname in `minio_server` and `minio_ssl` (defaults to `false`) to `true` and it's using HTTPS on port 443, but you can also specify `hostname:port` in `minio_server`.

It's working fine for me when using nginx for SSL termination like this:

[code]

[2021-04-03 15:58] sspown commented on #104
i tried without nginx, thanks.

[2021-04-03 16:06] Nothing4You commented on #104
If your problem is resolved please close the issue.

The nginx part of my comment was intended for @zekker6 as he explicitly mentioned using nginx in his setup.
It's of course not required to run minio with nginx.

[2021-04-03 16:09] #104 closed

[2021-04-06 15:24] linuxoid69 opened #105 "I can't change an existing policy."
Hi. When I try to change the existing policy then get this message.
The policy doesn't change.
I'm using  aminueza/terraform-provider-minio  build from the last commit  ```b2774a1```  with terraform v0.12.28
[code]

[2021-04-07 14:51] ntdt commented on #99
I don't see any new commits from Jan 10. Is this a stale/dead project?

[2021-05-06 10:25] jonasstenberg opened #107 "Incompatible provider version on Mac M1/arm64"
Hello,

I'm having issues running our Terraform workflow on my arm64 Macbook Pro M1.
I get the following error:

Any plans to build binaries for this architecture?

Many thanks in advance

[2021-05-12 06:26] torblerone opened #108 "Creating `minio_iam_user` runs into timeouts"
Hello,

first of all big thanks for your effort in writing a MinIO provider, this will possibly ease the very painful task of managing multiple environments with many user/bucket combinations.

## Versions used

Terraform / MinIO provider
[code]

MinIO version (distributed 4-node cluster)
[code]

## Problem faced

When creating users via your plugin, terraform never gets out of the "creating..." s

[2021-05-12 07:25] torblerone commented on #108
FYI, this also happens when trying to create the `minio_iam_policy.test_policy` from your `examples/` directory. Perhaps it is an issue with the MinIO server version?

[2021-05-12 07:58] torblerone opened #109 "Creating `minio_s3_bucket` with `for_each` results in strange `bucket_domain_name`"
Hello,

when I create buckets with a `for_each` directive, the resulting persisted state of terraform looks really strange.

Let's say I have a `list(string)` of `n` buckets and create them with this resource definition:

[code]

Then the persisted state results in something like this:

[code]

where the `bucket_domain_name` seems to be misconfigured.

[2021-05-20 07:29] #105 closed

[2021-05-21 18:49] selfuryon opened #112 "Can't create `minio_iam_user` in minio `RELEASE.2021-04-06T23-11-00Z` deployed on Kubernetes via minio-operator"
Hello!
Thanks for awesome provider!

I have strange issue  with creating new user in minio which deployed on Kubernetes:
[code]

Minio version: `RELEASE.2021-04-06T23-11-00Z`, Minio-operator version : `4.0.11`,  Terraform/provider version:
[code]

tf is very simple:
[code]

[2021-05-21 18:51] selfuryon commented on #99
I have similar problem with kubernetes #112

[2021-05-21 18:59] selfuryon commented on #112
Seems like it's a problem with `github.com/minio/minio v0.0.0-20210409155609-0ddc4f00756b`...
Incompatible `madm` with current minio?

[2021-05-21 20:13] selfuryon commented on #112
I have still the same issue with plugin compiled from master with `github.com/minio/minio v0.0.0-20210409155609-0ddc4f00756b` package

[2021-05-21 20:54] selfuryon commented on #112
Hmm, when I use minio via port-forward directly in Kubernetes - all works fine, so problem in Ingress Controller I think...
So close this issue!

[2021-05-21 20:54] #112 closed

[2021-05-21 20:55] selfuryon commented on #99
Test it without nginx-ingress, and it works fine, so problem really is in ingress controller

[2021-05-21 22:15] ntdt commented on #99
Agreed, I'll close this issue.

[2021-05-24 13:01] selfuryon commented on #99
In my case the problem was in TLS provider configuration. This provider sets `minio_ssl` to `false` by default, so it was the reason of weird message outputs and not working apply.
Needs to set `minio_ssl` to `true` for tls/ssl
[code]

[2021-05-25 20:28] ntdt commented on #99
It works with this option `minio_ssl = true`

[2021-05-28 08:46] DAGorchakov opened #113 "Imposible to create Condition with colon in key (s3:authType)"
Hi, I try to limit pre-signed URL. I have .tf for this:
[code]
Unfortunately it is impossible to terraform plan\apply because of colon in s3:authType. Error text:
[code]
or if I add quotes:
[code]
So, is it possible to use Terraform for such s3 policy, or maybe you know any workaround?

terraform -v
Terraform v0.13.7
+ provider registry.terraform.io/aminueza/minio v1.2.0

similar issue with [terra

[2021-06-08 13:42] torblerone commented on #89
Any updates on this? Migrating our MinIO infrastructure to `terraform` provider without data loss is impossible with this :(

[2021-06-11 17:53] innovate-invent commented on #105
Duplicate of #64 ?

[2021-06-11 17:55] innovate-invent commented on #65
any update on this?

[2021-06-11 21:40] innovate-invent opened #115 "minio_iam_policy does not output error information"
When trying to create a minio_iam_policy with invalid values the only error that is output is:
[code]

Enabling TF_LOG=DEBUG I was able to find the error: `2021/06/11 14:33:54 invalid resource 'production'`. This should have been included in the error output.

[2021-06-24 09:41] nico2610 commented on #67
Hi @aminueza , I'm facing the same issue using version `1.2.0` but it works using version `1.1.0`. Unfortunalety, I need to update terraform to 0.13+ and define explicit provider source. As `1.1.0` has not been published on terraform registry (only  `1.2.0` is there), I decided to use a [fork](https://github.com/rienafairefr/terraform-provider-minio) of your provider because it is present on the r

[2021-07-22 09:48] enniomara commented on #64
This seems to be fixed in #111.

[2021-07-24 09:11] Lykos153 opened #116 "This 'admin' API is not supported by server in 'mode-server-fs'"
When I try to create a new user using this provider, I get the following error:
[code]
I understand that some features are not available when using `mode-server-fs`. However, I have no problem creating users via the commandline using `mc admin user ...`.

So what am I missing?

[2021-08-03 20:54] tv42 opened #117 "minio_iam_policy order keeps shifting"
I don't know if this problem originates from this code, or if minio itself keeps shuffling this (and the provider should just somehow cope with it), but I keep getting output like this from `terraform plan`:

[code]

Updating the *.tf to match the order here doesn't really matter; in a couple of runs, it'll show a *different* order.

All the lists seem to be getting shuffled, observing `Resource`,

[2021-08-03 21:01] tv42 commented on #117
This is caused by these being stored as `map[string]struct{}`, and map order is random.

https://github.com/aminueza/terraform-provider-minio/blob/b2774a13b3fa7297fc62d3fa86383a0429dad0ed/minio/data_source_minio_iam_policy_document.go#L56-L57

https://pkg.go.dev/github.com/minio/minio-go/v7/pkg/set#StringSet

encoding/json would sort the keys of maps, but it's being overridden to get the list-like

[2021-08-08 00:37] AMKamel commented on #116
I encountered the same error using same code

[2021-08-20 10:59] openPablo commented on #97
Also ran into issues because of this

[2021-09-13 21:01] bjschafer commented on #109
I'm seeing this too, even without a `for_each` directive. It's also got a different `bucket_domain_name` each time I run e.g. `tf plan`.

Interestingly, though, if I run `tf state show minio_s3_bucket.foo`, it has a correct `bucket_domain_name`:

[code]

[2021-09-29 05:27] spTorin opened #119 "How can I change user secret or rotate it in the right way?"
1. Create user - it's ok and secret generated
2. Need change secret - what steps need?

If I set `update_secret = true` - secret not changed and user set in status `disabled`

Fields `status` and `secret` is computed and can'y be changed in direct way.

[2021-11-24 12:14] BuJo commented on #96
I created a pull request in https://github.com/aminueza/terraform-provider-minio/pull/120 which does exactly that.

[2021-11-27 12:41] torbendury opened #122 "Is this project still alive?"
Hello, this project looks quite interesting and was referred to by official MinIO multiple times, but as of now it doesn't look like it is being actively maintained together with MinIO itself.

Is anything happening here? Did anyone fork this and is actively working on? Does MinIO plan to take this over and officially develop it further?

[2021-12-19 22:50] qazaqstan2025 opened #123 "[Security] Workflow docs.yml is using vulnerable action actions/checkout"
The workflow docs.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-24 15:35] archenroot commented on #122
seems dead....

[2021-12-31 08:48] chrisandchris commented on #122
I created a fork in January here https://github.com/globalelements-gmbh/terraform-provider-minio and as I still required the project from time to time I am happy if anybody wants to chime in into it and assist me - my go knowledge is not that perfect.

I created a PR to this repo (probably the last change) that enabled direct push to the Terraform registry, however my clone is also available there

[2022-01-06 20:50] michaeljguarino commented on #107
I believe the only change needed to enable this is bumping the go version to 1.16 or higher

[2022-01-06 20:52] michaeljguarino commented on #122
@chrisandchris would you be willing to bump the go version to add mac m1 support?  We'd be willing to help maintain your fork as we need this provider to stay relatively healthy for our use-cases as well

[2022-01-06 23:08] michaeljguarino commented on #122
Actually, I forked the repo and got it up to date with latest minio and compiled a mac arm release as well if anyone wants to use it here: https://github.com/pluralsh/terraform-provider-minio

Also happy to upstream it to whatever repo would be more appropriate.

[2022-01-07 08:18] chrisandchris commented on #122
Thanks!

However, it would be cool to have a single, working fork instead of various ones that differ in some places. Should i merge my changes (merged them into master now, integrated some changes from other forks too) into your fork or do you like to merge into my fork?

[2022-01-17 17:05] #94 closed

[2022-01-17 17:55] aminueza commented on #122
Hi everyone,

The project still alive :) and some new features are coming soon, thanks to our new contributor @BuJo if you want to take a look https://github.com/Contargo/terraform-provider-minio
I'm making small changes atm regrading the GitHub actions

[2022-01-18 15:19] BuJo commented on #107
I built my current state (https://github.com/Contargo/terraform-provider-minio/releases/tag/v1.3.0-contargo4) for the current architectures.  It built `darwin_arm64` as well, so I think this might be possible in the next release.  That version was newest 1.15 iirc.

[2022-01-19 15:36] BuJo commented on #89
I can replicate this issue.  In general the state context is only passed through:
`resource_minio_s3_bucket.go`.
[code]
There is a better Import function in the code, I tried using it instead, however I wasn't immediately successful.  I will have a better look at this.

[2022-01-20 20:32] #67 closed

[2022-01-20 20:54] BuJo commented on #96
#120 has been merged, that feature should land in the next release.

[2022-01-20 21:06] BuJo commented on #97
I've implemented that functionality, and will open a pull request soon.

If you want to take a look/test locally: https://github.com/Contargo/terraform-provider-minio/tree/ilm_expiration

I still need to put some energy into the naming I think and little bit of documentation.

[2022-01-21 15:05] BuJo commented on #64
Let's close this issue, as it seems to be fixed.

[2022-01-21 15:05] #64 closed

[2022-01-21 15:09] BuJo commented on #69
`terraform import minio_iam_user.<name> <name>`

For example:

[code]

[2022-01-21 15:09] #69 closed

[2022-01-28 09:09] BuJo commented on #122
`1.3.0` has been released.  Also thanks to @felladrin !

[2022-01-28 09:09] #122 closed

[2022-01-28 09:11] BuJo commented on #116
Heya @Lykos153 or @AMKamel could you retest it in that mode?  The `1.3.0` release might have fixed your problem.

[2022-01-28 09:12] BuJo commented on #107
The `1.3.0` release contains a darwin arm64 build.

[2022-01-28 09:12] #107 closed

[2022-01-28 09:14] BuJo commented on #96
`1.3.0` has been released.

[2022-01-28 09:14] #96 closed

[2022-01-28 11:42] renovate[bot] opened #135 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update module github.com/aws/aws-sdk-go to v1.42.43](../pull/133)
 - [ ] [Update module github.com/minio/madmin-go to v1.2.9](../pull/134)
 -

[2022-01-28 13:20] #135 closed

[2022-01-28 16:38] BuJo commented on #109
Could you reproduce this with the current codebase @torblerone or @bjschafer ?  I couldn't reproduce it here.

The code is defined as

[code]

And produces

[code]

The `bucketConfig *url.URL` is simply the configured endpoint (`minio.example.com:port`) plus a scheme. I'm really unsure how this could happen.

[2022-02-01 15:26] BuJo commented on #108
@torblerone Could you try with the latest version?  The minio client libraries used in the new `1.3.0` version are much newer now and could be better aligned with your server version.

[2022-02-01 15:30] BuJo commented on #65
Duplicates #89 I think.

[2022-02-11 23:09] #119 closed

[2022-02-15 08:17] BuJo commented on #108
Unable to reproduce in my own infrastructure.  To slightly reduce the ticket overload, closing the ticket.  If there's new information, don't hesitate to open up a new ticket referencing this one.

[2022-02-15 08:17] #108 closed

[2022-02-15 15:36] BuJo commented on #113
I Think that has to do with map attributes and nested blocks.  The example shows use of nested blocks.  This might be resolved by using it as an attribute?

https://stackoverflow.com/questions/62651475/how-do-i-resolve-the-error-argument-names-must-not-be-quoted-in-terraform

If that doesn't work, I'd be willing to build an integration test for that, at least verifying the behaviour.

[2022-02-15 15:50] BuJo commented on #109
I'll close this for now, as I couldn't get it to reproduce in current version.  Let's close this one to keep the ticket load a little lower.  If it happens again and you have more information, don't hesitate to open a new ticket referencing this one.

[2022-02-15 15:50] #109 closed

[2022-02-17 08:27] #97 closed

[2022-02-18 11:37] BuJo commented on #116
As I cannot reproduce this, I'll close the issue for now to keep the ticket load a little lower.  If there's more information and it's still a problem with the current code, don't hesitate to open a new issue referencing this one.

[2022-02-21 14:54] BuJo commented on #59
Version `1.4.0` is released, let's close this one.

[2022-02-21 14:54] #59 closed

[2022-03-11 11:59] #56 closed

[2022-03-12 18:00] pjsier commented on #117
It looks like the most straightforward place to address this might be the `suppressEquivalentAwsPolicyDiffs` function since it's already being used as the `DiffSuppressFunc` in multiple places.

https://github.com/aminueza/terraform-provider-minio/blob/b2d72d69c614064458279b33c844caf8293f0129/minio/resource_minio_iam_policy.go#L163-L170

It looks like this is a wrapper around [jen20/awspolicyequiv

[2022-03-15 19:22] #117 closed

[2022-03-16 12:55] pinpox commented on #116
@BuJo Still running into this issue. I'm using the `user` example code from this repository.
[code]

[2022-03-21 07:00] BuJo commented on #116
Allright, since it can be reproduced with the new release, let's reopen this. Thanks for reporting!

[2022-03-21 11:00] BuJo commented on #116
I investigated.  According to https://github.com/minio/console/issues/863 and related issues, this is seems to be simply something that the server cannot do when running in this mode.  And the terraform adapter cannot provide a workaround for missing server functionality.

Is there something other than the already present error message we could do to help users tripping up on that @pinpox  @Lykos1

[2022-03-21 11:04] AMKamel commented on #116
I couldn't find anyway to workaround this but using minio/mc cli client to do this, and I have to do that using `pulumi` as they have something like command provider which is somehow mimicing null provisioners in terraform. minio provider at pulumi is suffering from the same issue as it's bridged from minio terraform provider.

Only creating bucket is possible using either terraform or minio provi

[2022-03-21 12:52] BuJo commented on #101
This would be a change in the `acl` field.  This might be fixed with the work in #130
However, this seems to describe that when readonly (an invalid value) `acl` is selected that the code doesn't recognize that until it's too late.  I'll build a verification into #130.

[2022-03-21 20:16] BuJo commented on #116
@AMKamel Could you write up how you're using the mc cli in detail to add users in `fs-mode`?

I mean, if the server tells the client that it is unwilling to perform, the client shouldn't be able to do this.  But, the `mc` could be doing something behind the servers back, so I could investigate that further if I know which "path" to take.

[2022-03-21 21:33] AMKamel commented on #116
I am using it like this
[code]

[2022-03-22 08:54] BuJo commented on #98
This issue duplicates #55

[2022-03-22 08:54] #98 closed

[2022-03-22 21:56] #89 closed

[2022-03-22 21:56] #65 closed

[2022-03-22 21:56] #101 closed

[2022-03-26 12:30] lu1as opened #193 "Objects are publicly readable when using private bucket ACL"
When I create a bucket with `private` ACL all objects in the bucket can be listed and downloaded without authentication. The MinIO console also shows that the bucket uses a custom ACL (not private).

[code]

The [ReadOnlyPolicy](https://github.com/aminueza/terraform-provider-minio/blob/fcbeeaa822da8371410ff94a247ce182443b2a4d/minio/readonly_policy.go#L11) includes public read access and is used fo

[2022-03-30 09:51] BuJo commented on #193
Oooh, that's my fault, thank you for noticing @lu1as

[2022-03-30 12:05] #193 closed

[2022-03-30 12:40] felladrin commented on #193
The fix has been published on [v1.5.1](https://registry.terraform.io/providers/aminueza/minio/1.5.1).

[2022-05-11 04:04] linyinfeng opened #235 "`content_type` defined but not implemented"
### Description

`content_type` is defined for the `minio_s3_object` resource and documented, but not implemented.

### Steps to Reproduce

1. Create a resource like the one in `examples/bucket/bucket.tf` and define `content_type`.

[code]

2. Run `terraform apply`.
3. Head the object.
[code]

**Expected behavior:**

The value of the `Content-Type` header is `text/plain` as defined.

**Actual beha

[2022-05-12 03:03] #235 closed

[2022-05-24 18:37] Nurrl opened #243 "Add resource `minio_iam_user_svcacct`"
Hello,

It would be great if we added a new resource to manage **user service accounts**.
I never created or contributed to a terraform provider, but I think I can sort this out using the help of a little documentation and code.

From what I see in the documentation of MinIO (and in the provider), I'd implement the following fields for the **resource** `minio_iam_user_svcacct`:
- `user`: (required

[2022-05-24 20:30] Nurrl opened #244 "Add support for `minio_cacert_file` (as seen in the code, but not used)"
### Description
I'd like to be able to connect to my MinIO instance which is hosted with a self-signed CA, and I've seen that it was set up in the `provider.go` file, so arguments are accepted but not interpreted.

### Steps to Reproduce

1. Add `minio_cacert_file` to your `provider "minio" { ... }` block
2. Use `terraform apply`

**Expected behavior:**
- _Either_ an **error should pop out**
- _or

[2022-05-24 21:03] Nurrl commented on #244
Update: from what I see in `https://github.com/aminueza/terraform-provider-minio/blob/master/minio/check_config.go#L43`, there is a misconfiguration and it does not use the `minio_cacert_file` variable and uses `minio_cert_file` instead.

A patch like this will fix the issue in my opinion but will be a breaking change
[code]

[2022-05-26 13:04] BuJo commented on #243
Sure thing @Nurrl , if you need this resource and are actively using it, take a stab at implementing it.  I'll make sure to reserve some time for a code review.

[2022-05-31 20:47] Nurrl commented on #244
Hello again @BuJo, I did not find cool documentation on how to test a provider locally to confirm that what I did worked, do you have any resource/advice on how to do it easily ?

Thanks.

[2022-06-01 11:08] BuJo commented on #244
@Nurrl Sorry for the delay.  Well, you can install the terraform module locally and use that one.  See https://github.com/aminueza/terraform-provider-minio/blob/f2270197af6b99ba1ade2f6119a37c4378419fb1/Taskfile.yml#L28 for the right task command.
I found that manually setting the version beforehand to something slightly higher each time before installing the module locally leads to a quite ok test

[2022-06-01 16:04] Nurrl commented on #244
Thanks :) No worries for the delay.

I have one with a locally-signed certificate (with a CA) to test this, so I'll try it out :)
Thanks for the advices on installing the provider locally, that's what I was missing !

[2022-06-09 07:08] yardenshoham opened #257 "Add support for setting `quota` in bucket"
### Description
When creating a bucket in the MinIO console, one may (optionally), specify a quota (e.g. 40Gi). I couldn't find a way to set a quota.

Support for setting `quota` on bucket creation was added in #143.

**Expected behavior:** There should be a property `quota`

**Actual behavior:** There isn't

[2022-06-10 10:33] yardenshoham commented on #257
With some guidance from a contributor, I'll try to add it myself

[2022-06-14 10:55] uk02919 opened #259 "Specifying secret for user doesn't seem to work?"
### Description

Specifying secret for user doesn't seem to work

### Steps to Reproduce

1. Create user:
[code]
2. apply change
3. log in through GUI console using `dummy` and `thisismysecret`

**Expected behavior:**
User logs in correctly

**Actual behavior:**
GUI does not log in and reports the following error:
`The request signature we calculated does not match the signature you provided. Chec

[2022-06-24 10:12] QuingKhaos opened #261 "Errors with the provider/MinIO API must not be fatal"
### Description

Errors within the provider/with the MinIO API must not be fatal, otherwise Terraform will not save the applied state of other resources and manual cleanup is needed.

### Steps to Reproduce

Not exactly to reproduce, we have currently an error, using the provider:

[code]

**Expected behavior:** I expect the error to cancel the running apply, but terraform still saves the state wi

[2022-06-24 10:39] QuingKhaos opened #262 "MINIO_ENABLE_HTTPS envvar does not work"
### Description

Using an (nearly) empty provider config and configuring it via environment variables doesn't pick up the `MINIO_ENABLE_HTTPS` environment variable. Or I don't use the correct value.

### Steps to Reproduce

1. ```
   provider "minio" {
     minio_region = "at-central-1"
   }
2. Set `MINIO_ENDPOINT`, `MINIO_ACCESS_KEY`, `MINIO_SECRET_KEY` and `MINIO_ENABLE_HTTPS`
3. Explicitly add

[2022-06-24 11:19] QuingKhaos commented on #261
Nevermind. We had a missing backend configuration which was not obvious the whole time. Sorry for the wrong issue.

[2022-06-24 11:19] #261 closed

[2022-08-02 06:47] kpchen commented on #116
any updates please? I got the same issue with  VERSION2020-12-23T02:24:12Z

[2022-08-02 16:16] BuJo commented on #262
I've found the culprit and will create a MR shortly.

[2022-08-03 09:01] #262 closed

[2022-08-03 12:29] BuJo commented on #259
Not sure, but I will investigate.

[2022-08-03 13:23] BuJo commented on #262
@QuingKhaos The referenced PR should fix this issue.  It'll be in the next release.

[2022-08-03 15:57] BuJo commented on #262
`v1.5.3` has just been released.

[2022-08-09 09:46] BuJo commented on #257
@yardenshoham This should be possible.

A short look into example code (https://github.com/minio/madmin-go/blob/8a5b69247fe5aee210e15bb418c210a3d83df0fe/examples/bucket-quota.go).. should be doable.

Unsure on how much time I have, but I'd be willing to review code if you're willing to make a PR.

I'd start experimentally like:

Have a look into `resource_minio_s3_bucket.go`, add a `quota` field,

[2022-08-10 12:29] BuJo commented on #259
@uk02919 We tried reproducing the problem in-house.  We couldn't do it.

However, there were some issues around Content-Length headers while developing the current iteration.  We updated our internal terraform stack itself and we do not see those issues anymore.  Could you check that your Terraform version is 1.2.x something?

[2022-08-10 12:30] BuJo commented on #115
This seems to be the same issue as #99

[2022-08-10 12:30] #115 closed

[2022-08-11 08:03] Gennavar commented on #259
Thanks for the feedback. I am using Terraform v1.2.6 but unfortunately I had to move to doing it a different way in the end (project timescales lol!) so don't have the original project set up now.

I will try and re-set it up again and feedback to you what happens.

[2022-08-11 08:04] uk02919 commented on #259
Thanks for the feedback. I am using Terraform v1.2.6 but unfortunately I had to move to doing it a different way in the end (project timescales lol!) so don't have the original project set up now.

I will try and re-set it up again and feedback to you what happens!

[2022-08-16 10:54] #257 closed

[2022-08-17 17:28] BuJo commented on #257
@yardenshoham The release v1.6.0 contains your work around bucket quotas. Thank you!

[2022-08-22 20:48] yardenshoham commented on #102
I'd close this because object ACL isn't supported in minio
https://github.com/minio/minio/issues/8195

[2022-09-15 15:42] zx1986 opened #331 "Attaching multiple user policies does not work"
https://github.com/aminueza/terraform-provider-minio/blob/627acced7b6c4d0754b18c01e9e7cb271ca88f89/minio/resource_minio_iam_policy.go#L130

It seems only one policy could attach to a user,
if I have multiple policies to attach, I have to flatten the policy list to a string (split by `,`) then attach?

[2022-10-03 08:13] BuJo commented on #331
The length is presumably because the Amazon IAM Documentation contains that limit.

I haven't attached multiple policies to one user yet, but that's basically where the minio_iam_user_policy_attachment` resource comes into play.

[2022-10-03 09:05] BuJo commented on #331
Hmm.. @zx1986 unsure if I understood you correctly yet.  Was that a feature request?  Would you like to specify how your solution to add multiple policies to a single user would look like? I'm not sure what your 'policy list' looks like (unflattened?).

[2022-10-04 02:57] zx1986 commented on #331
Thanks for your response @BuJo !

We had used `minio_iam_user_policy_attachment`,
but if we have multiple policies,
using a loop to run `minio_iam_user_policy_attachment`, it will attach only the last policy.

pseudo codes:
[code]

that will be only `policy3` attach to `user1`, `policy1` and `policy2` will lose attach to `user1`.
so we flatten policies into a string (split by `,`) be like:

[code]

[2022-10-04 06:19] BuJo commented on #331
I'm beginning to understand.  Funny that this works.  I guess the best interface from outside would be to allow an actual array instead of simply a string to avoid problems like this.. I'll have a look into it and see what I can do.

[2022-10-10 04:03] Moep90 opened #348 "[IAM-Policy] will be updated in-place on every re-run"
### Prerequisites

- Be sure that theres no open issue already.
  - Did not found a matching one.

### Description

When applying IAM policies, I always get a change with every run.

### Steps to Reproduce

1. terraform apply
2. terraform apply

### Expected behavior

That the policies are applied and that a re-run of terraform does not cause a "update-in-place" every time.

### Actual behavior

O

[2022-10-13 00:35] ihannache opened #351 "Changing a bucket attribure causes the bucket to be DELETED and re-CREATED"
### Description

Provider: minueza/minio:1.6.0

When i try to change the act from public to private, the output from terraform plan:

[code]

It destroy the existing bucket and creates a new one.

### Steps to Reproduce
[code]
**Expected behavior:** change only the field all from public to private

**Actual behavior:** it desktops the existing bucket and creates a new one

**Reproduces how often:*

[2022-10-14 14:40] ihannache opened #354 "Update user secret doesn't work"
### Description

I have an existing minio user, when I try to update the secret for this user it's not working. the user still have the old password.

### Steps to Reproduce
Create a new minio user :
[code]
then update the ressource secret:
[code]
Terraform plan, apply shows the change:
[code]
**Expected behavior:**
login with new user:password --> test: newPassword

**Actual behavior:**
403 inval

[2022-10-15 09:09] #351 closed

[2022-10-15 09:48] #243 closed

[2022-10-15 10:23] particleflux opened #360 "`user` example errors on apply due to sensitive value"
### Description

The included `user` example exits with an error on apply:

│ Error: Output refers to sensitive values
│
│   on output.tf line 9:
│    9: output "minio_user_secret" {
│
│ To reduce the risk of accidentally exporting sensitive data that was intended to be only internal, Terraform requires that any root module output containing sensitive data be explicitly marked as sensitive, to con

[2022-10-15 10:30] felladrin commented on #360
I vote for dropping v0.13 support.
It's also ok according to the readme:
https://github.com/aminueza/terraform-provider-minio/blob/7db094ae62f98576021c5ec45da623258a06eb78/README.md?plain=1#L47-L53

[2022-10-16 20:49] #100 closed

[2022-10-17 20:45] ihannache commented on #354
The problem is here : https://github.com/aminueza/terraform-provider-minio/blob/master/minio/resource_minio_iam_user.go#L104
[code]
the fix :
[code]

[2022-10-17 20:54] ihannache commented on #354
You generate a new secret when the string is empty, but you don't have to generate one when the client updates the user secret.

[2022-10-20 10:19] Magnitus- opened #366 "Fork"
Hi,

We created a fork of your repo that we self-published, because we need to move fast: https://github.com/Ferlab-Ste-Justine/terraform-provider-minio

We did some changes that we felt were for the better, but that break backwards compatibility, so we won't open PRs for that.

However, we based ourselves on this project and we don't want to be ungrateful (we're benefiting a lot from your work),

[2022-10-22 12:09] #77 closed

[2022-10-22 12:18] BuJo commented on #259
#354 could be a duplicate.

[2022-10-22 12:28] BuJo commented on #360
Yeah, we're using 1.3 internally because even 1.2 had some weird behaviour which was fixed using 1.3..

[2022-10-22 16:06] pjsier opened #370 "Add more fields to minio_s3_bucket_versioning"
### Description

The resource `minio_s3_bucket_versioning` was added in #368 and includes support for enabling or suspending versioning on a bucket. The `minio-go` client library we're using supports additional configuration options in the [`BucketVersioningConfiguration` struct](https://github.com/minio/minio-go/blob/db249504802dd5af09ad9b5fdf974d5b5816a21a/api-bucket-versioning.go#L84-L93).

It

[2022-10-25 08:44] BuJo commented on #348
@Moep90 Could you try updating to the latest `1.8.0` or at least `1.7.1`?
In principle, this should have been resolved by #180 in `1.5.0`... I'm sure it's still that by using `jsonencode` the ordering of the fields change and thus lead to in place updates.

I couldn't reproduce it with a simpler example not using modules:

* Terraform version: `1.3.3`
* Provider version: `1.8.0`

[code]

[2022-10-25 09:01] BuJo commented on #366
I think that's fine, there's quite a few forked providers for this minio provider available on the terraform registry.  Thank you for communicating and trying to fix it upstream @Magnitus- !

* If it's mainly the Issue from #354 biting you, I think I've found the issue and put a Patch in #364.
* `force_destroy`: Unsure if that one's really used somewhere.  The cleaner behaviour in your patch looks

[2022-10-25 09:01] #366 closed

[2022-10-25 09:07] BuJo commented on #360
This should be fixed in `1.8.0` #373 , the user secret in the examples is now set to `sensitive`.  Thank you for reporting @particleflux !

[2022-10-25 09:07] #360 closed

[2022-10-26 00:02] ihannache opened #375 "terraform import minio_iam_group.test doesn't work"
### Description

Hello, I'm trying to import some existing ressources from out minio to our remote state terraform.
the other ressources works fine and are imported but minio_iam_group won't import.

### Steps to Reproduce

create a minio iam group in a local file:
[code]
Empty your local state and try to import the same ressource that was created before :
[code]

the ressource exists in our minio

[2022-10-27 08:40] Magnitus- commented on #366
Indeed, that's what motivated our decision to fork the repo and self-publish. I'm currently in vacation, but will test your adjustments when I am back.

Yes, my understanding was that in case someone added additional access policies manually to the user, this would destroy the user anyways.

I think the idea behind the feature (as I understood it) was fine, just the part where is destroyed the use

[2022-10-27 11:56] UncleSamSwiss opened #377 "Renaming a user doesn't work as expected"
### Description

When you create a `minio_iam_user` and later change its `name`, the user should be force-replaced (similar to e.g. `minio_iam_user_policy_attachment` -> `name`)

### Steps to Reproduce

1. Create a new resource of type `minio_iam_user`. Give it: `name = "A"`
2. Run `terraform apply`
3. Change the `minio_iam_user` to: `name = "B"`
4. Run `terraform apply`

**Expected behavior:**

T

[2022-11-03 19:34] tafkam opened #384 "Add more fields to minio_ilm_policy rules"
### Description

It would be nice to have more usable ILM rules for buckets, especially the option for expired-object-delete-marker (https://github.com/minio/minio/blob/master/docs/bucket/lifecycle/README.md#33-automatic-removal-of-delete-markers-with-no-other-versions) and the "NoncurrentVersionExpiration"-block (https://github.com/minio/minio/blob/master/docs/bucket/lifecycle/README.md#32-automa

[2022-11-12 11:58] #370 closed

[2022-11-12 12:08] #377 closed

[2022-11-17 17:24] #375 closed

[2022-11-26 22:45] onedr0p commented on #348
I am seeing the same issue:

[code]

Plan output:

[code]